$primary-color: rgb(253, 190, 77);
$text-color: white;


$brand-primary: $primary-color;
$btn-default-color: white;
$btn-default-bg: $primary-color;
$input-border-focus: $primary-color;

$navbar-height: 70px;
$navbar-default-color: #00b4e4;
$navbar-default-bg: rgba(242, 244, 247, 0.9);
$navbar-default-brand-color: $navbar-default-color;
$navbar-default-brand-hover-color: $navbar-default-color;

$default-blue: #0096D6;


