$text-color: white;

$btn-default-color: white;
$btn-default-bg: #35bbff;
$btn-default-border: #ccc !default;

$navbar-height: 70px;
$navbar-default-color: #00b4e4;
$navbar-default-bg: #f2f4f7;

$navbar-default-brand-color: $navbar-default-color;
$navbar-default-brand-hover-color: $navbar-default-color;
