
@import "variables";
@import "../libraries/bootstrap-sass-3.3.0/assets/stylesheets/bootstrap";
@import "navbar";
@import "flip";

$default-blue: #00b4e4;

body {
	font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
}

.signup-form {
	margin-top: 20px;

	input[type="email"]{
		height:55px;
		width:600px;
		text-transform: uppercase;
	}
}

.btn-get-invited-lg {
	width:200px;
	height:60px;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
}

.description-wrapper {
	font-size:45px;
	font-weight:500;
	padding-top: 100px;
}

.landing-section {
	height: 780px;
	background: url('../images/landing_bg.png') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	padding-top: 100px;

	h1 {
		font-size: 80px;
	}

	h2 {
	font-size: 20px;
	}

	form {
		margin-top: 40px;
	}
}

.problem-section {
	height: 400px;
	background: white;

	.description-wrapper {
		color:#3CB684;
	}

	.monster {
		padding-top: 30px;
		height: 150px;
	}

	.monsters-text1 {
		padding-top: 20px;
		font-size: 25px;
		color:#525aa7;
	}


	.monsters-text2 {
		padding-top: 20px;
		font-size: 25px;
		color: #3CB684;
	}


	.monsters-text3 {
		padding-top: 20px;
		font-size: 25px;
		color:#0098da;
	}
}

.feature-section {
	font-size: 25px;

	&.feature-section-top {
		background: #3CB684;
	}	

	&.feature-section-mid {
		background: white;
		color: rgb(122, 122, 122);

		.iphone-wrapper {
			float: right;

			& > div {
				left: initial;
				right: 38px;
			}
		}
	}

	&.feature-section-event {
		background: #DE7676;
		font-weight: 500;

		.description-wrapper {
			padding-top: 30px;
			margin-bottom: 30px;
		}

		.iphone-wrapper {
			height: auto;
			width: auto;
			padding-top: 20px;
			margin-bottom: 100px;

			.iphone {
				position: static;
				width: 320px;
			}

			.screen {
				position: absolute;
				width: 279px;
				left: 50px;
				top: 77px;
			}
		}

	}

	.iphone-wrapper {
		height: 800px;
		width: 323px;
		padding-top: 100px;

		.iphone {
			position: absolute;	
			height: 650px;
		}

		& > div {
		    position: absolute;
		    left: 36px;
		    top: 177px;
		}
	}
}

.carousel-inner > .item > .iphone-inner-image {
	height: 453px;
    z-index: 10;
}

.carousel-inner > .item > .lucky-iphone-inner-image {
	height: 421px;
    z-index: 10;
}


.testmonial-section {
	height: 350px;
	font-size: 20px;
	color: rgb(122, 122, 122);
	padding-top: 50px;
	margin: 28px auto 34px;

	.author {
		font-size: 20px;
		color: $default-blue;
		line-height: 43px;
	}

	.faces-wrapper {
		width: 390px;

		.face {
			width: 120px;
			margin: 5px;
			opacity: 0.5;

			&.selected {
				opacity: 1;
			}
		}
	}	
}

.bottom-email-section {
	height: 400px;
	background: 
	  linear-gradient(
	      rgba(64, 163, 163, 0.45), 
	      rgba(64, 163, 163, 0.45)
    	), url('../images/landing_bg.png') center bottom;
}

footer {
	height: 60px;
	background-color: #35bbff;


	.social-icon {
		margin-top: 10px;
		margin-right: 40px;
		height: 40px;
	}
}

