
@import "variables";
@import "../libraries/bootstrap-sass-3.3.0/assets/stylesheets/bootstrap";
@import "navbar";
@import "flip";

$default-blue: #0096D6;

body {
	font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
	font-size: 18px;
	color: black;
}

h1 {
	font-size: 4em;
	color: white;
}

h2 {
	font-size: 36px;
	color: $default-blue;
}

h3 {
	color: $default-blue;
}

.white {
	color: white;
}

.signup-form {
	margin-top: 20px;

	input[type="email"]{
		height:55px;
		max-width:600px;
		text-transform: uppercase;
	}
}

.btn-get-invited-lg {
	width:200px;
	height:60px;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
}

.landing-bg-shade {
	position: fixed;
	height: 780px;
	background: rgba(0, 0, 0, 0.3);
}

.landing-bg {
	position: fixed;
	height: 780px;

	background: url('../images/landing_bg.png') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}

.landing-section {
	height: 780px;
	padding-top: 100px;

	form {
		margin-top: 40px;
	}
}

.problem-section {
	display: none;
	background: white;

	.monster {
		padding-top: 30px;
		height: 150px;
	}

	.monsters-text1 {
		padding-top: 20px;
		font-size: 25px;
		color: $default-blue;
	}


	.monsters-text2 {
		padding-top: 20px;
		font-size: 25px;
		color: $default-blue;
	}


	.monsters-text3 {
		padding-top: 20px;
		font-size: 25px;
		color: $default-blue;
	}
}

.section-wrapper {
	background: white;
	padding: 100px 0;

	&.brown-bg {
		background: #f1e3c5;
		border-top: 1px solid #e6cc96;
		border-bottom: 1px solid #c3942f;
	}
}

.step-wrapper {
	margin: 50px 0 0 0;

	.step-icon {
		position: relative;
		left: -8px;
		max-width: 160px;
	}
}

.friends-img {
	margin-top: 36px;
	width: 80%;
}

.discover-img {
	margin-top: 30px;
	width: 80%;
}

.badge-wrapper {
	margin: 30px 0;

	img {
		width: 100%;
		max-width: 140px;
	}
}

.testmonial-section {
	font-size: 20px;
	padding-top: 50px;

	h3 {
		color: #222;
	}

	.author {
		font-size: 20px;
		color: #222;
		line-height: 43px;
	}

	.face {
		width: 120px;
		margin: 5px;
	}

	.hidden-sm, .hidden-md, .hidden-lg {
		.face {
			opacity: 1;
		}
	}

	.hidden-xs {
		.face {
			opacity: 0.5;

			&.selected {
				opacity: 1;
			}
		}
	}
}

.bottom-email-section {
	padding: 50px 0;
	background: #004a70;
}

footer {
	height: 60px;
	background-color: #555;
	border-top: 1px solid #777;


	.social-icon {
		margin-top: 10px;
		margin-right: 40px;
		height: 40px;
	}
}

