
@import "variables";
@import "../libraries/bootstrap-sass-3.3.0/assets/stylesheets/bootstrap";
@import "navbar";
@import "flip";

$default-blue: #0096D6;

body {
	font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
	color: $default-blue;
}

.white {
	color: white;
}

.signup-form {
	margin-top: 20px;

	input[type="email"]{
		height:55px;
		width:600px;
		text-transform: uppercase;
	}
}

.btn-get-invited-lg {
	width:200px;
	height:60px;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 10px;
}

.landing-section {
	height: 780px;
	background: url('../images/landing_bg.png') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	padding-top: 100px;

	h1 {
		font-size: 80px;
	}

	h2 {
	font-size: 20px;
	}

	form {
		margin-top: 40px;
	}
}

.problem-section {
	height: 400px;
	background: white;

	.monster {
		padding-top: 30px;
		height: 150px;
	}

	.monsters-text1 {
		padding-top: 20px;
		font-size: 25px;
		color: $default-blue;
	}


	.monsters-text2 {
		padding-top: 20px;
		font-size: 25px;
		color: $default-blue;
	}


	.monsters-text3 {
		padding-top: 20px;
		font-size: 25px;
		color: $default-blue;
	}
}

.section-wrapper {
	padding: 50px 0;
}

.step-wrapper {
	margin: 50px 0;

	.step-icon {
		position: relative;
		left: -8px;
	}
}

.friends-img {
	margin-top: 80px;
	width: 100%;
}

.relationships-img {
	width: 100%;	
}

.discover-img {
	margin-top: 30px;
	width: 100%;
}

.badge-wrapper {
	margin: 30px 0;
}

.testmonial-section {
	height: 350px;
	font-size: 20px;
	color: rgb(122, 122, 122);
	padding-top: 50px;
	margin: 28px auto 34px;

	.author {
		font-size: 20px;
		color: $default-blue;
		line-height: 43px;
	}

	.faces-wrapper {
		width: 390px;

		.face {
			width: 120px;
			margin: 5px;
			opacity: 0.5;

			&.selected {
				opacity: 1;
			}
		}
	}	
}

.bottom-email-section {
	height: 400px;
	background: 
	  linear-gradient(
	      rgba(64, 163, 163, 0.45), 
	      rgba(64, 163, 163, 0.45)
    	), url('../images/landing_bg.png') center bottom;
}

footer {
	height: 60px;
	background-color: #0096D6;


	.social-icon {
		margin-top: 10px;
		margin-right: 40px;
		height: 40px;
	}
}

